#main { float: right; width: 880px;}
/*消息输入框模块*/
.msgInputArea { padding: 25px 35px 15px; }
.socialBtnsCheck { position: relative; }
/*socialBtns*/
.socialBtns .checkBtn { position: relative; cursor: pointer; display: inline-block; width: 32px; height: 32px; text-align: center; margin-right: 5px;
 line-height: 32px; border-radius: 3px; color: #fff; }
.socialBtns .checkBtn.facebook { background-color: #2d4f8c; }
.socialBtns .checkBtn.twitter { background-color: #009bdb;}
.socialBtns .checkBtn.LinkedIn { background-color: #3369a7;}
.socialBtns .checkBtn > span {position: absolute;right: -3px;top: -6px; background-color: #f44c4c;line-height: 12px;padding: 2px;border-radius: 50%;
pointer-events: none; width: 12px;}
.socialBtns .checkBtn.small { width: 16px; height: 16px; line-height: 16px;  font-size: 12px; margin-left: 8px; margin-right: 0; }
/*用户社交账户展示列表*/
.msgInputArea .socialBtns { position:relative; z-index: 3; }
.checkBtn .socialUserList { position: absolute; display: none; left: 0; top: 42px; padding: 15px; background-color: #fff; border-radius: 3px; 
 border:1px solid #dcdcdc; box-shadow: 0 0 5px #999; cursor: default; }
.checkBtn[data-toggle=true] .socialUserList { display: block; }
.checkBtn .socialUserList:after{ content: ''; width: 8px; height: 12px; position: absolute; left: 10px; top: -6px; border:1px solid #eee; 
 background-color: #fff; transform-origin: center center; transform:rotate(45deg); box-shadow: 0 0 5px #999; z-index: 2;}
.checkBtn .socialUserList:before{ content: ''; width: 26px; height: 12px; position: absolute; left: 2px; top: 0px; background-color: #fff;  z-index: 3;}
.checkBtn .socialUserList label { display: block; text-align: left; color: #333; font-size: 16px; min-width: 200px; white-space: nowrap; cursor: pointer; }
.socialBtnsCheck .checkBtn > .fa {display: inline-block; height: 32px; width: 32px; line-height: 32px;}
.socialBtnsCheck .socialCheckError { position: absolute; right: -145px; top: 50%; margin-top: -14px; background-color: #f34e4c; color: #f9f5f6;
 line-height: 28px; padding: 0 10px; border-radius: 3px; font-size: 12px; white-space: nowrap; }
.socialBtnsCheck .socialCheckError:after{ content: ''; width: 8px; height: 8px; position: absolute; left: -4px; top: 9px; 
 background-color: #f34e4c; transform-origin: center center; transform:rotate(45deg); z-index: 2; }

/*文字数量提示*/
.textSizeCheck { line-height: 16px; }
.textSizeCheck .textSizeTip { font-size: 14px;}
.textSizeCheck ins{ text-decoration: none; font-size: 12px; }
.textSizeCheck ins.error { color: #d84242; font-weight: bold; }
/*消息输入框*/
.messageInputSec {}
.messageInputWrap { position: relative; }
.messageInputSec #messageInput { display: block; width: 98%; padding:1%; border:1px solid #35a8e9; border-radius: 3px; resize: none;
 height: 160px; overflow: auto; font: 14px/1.7 'Microsoft YaHei'; color: #181818; box-shadow: inset 0 0 3px #ccc;}
.messageInputSec #messageInput:focus { box-shadow: inset 0 0 10px #ccc; outline: none;}
/*引用工具*/
.messageInputTools .toolBtns a { color: #727272; margin-right: 10px;}
.messageInputTools .toolBtns a.photos .fa { color: #8ecf3f;}
.messageInputTools .toolBtns a.articles .fa { color: #40cbb4;}
.messageInputTools .toolBtns a.products .fa { color: #b174c2;}
.messageInputTools .toolBtns a.pages .fa { color: #f39801;}
.messageInputTools .toolBtns a.clockPush .fa { color: #58ade6;}
/*发布按钮*/
.postBtns a { display: inline-block; height: 34px; line-height: 34px; text-align: center; border-width: 1px; border-radius: 3px; border-style: solid; }
.postBtns a.postBtns-push { width: 120px; background-color: #44b549; color: #fff; border-color: #44b549;}
.postBtns a.postBtns-draft { padding: 0 10px; background-color: #fbfbfb; border-color: #eeeeee; color: #707070; margin-right: 10px;}
/*消息列表标签*/
.msgListTabs { margin-top: 20px; padding-bottom: 20px; }
.msgListTabBtns { margin: 0 30px; position: relative; border-bottom: 1px solid #e9ecf1;}
.msgListTabBtns > a { position: relative; display: inline-block; line-height: 50px; padding: 0 6px; margin-right: 15px; color: #9e9e9e;
 font-size: 16px; font-weight: bold; cursor: pointer;}
.msgListTabBtns > a.on { color: #209eea; }
.msgListTabBtns > a.on:after { content: " "; position: absolute; width: 100%; height: 4px; left: 0; bottom: -1px; background-color: #209eea; }
/*发送列表筛选框*/
.msgListTabBtns .msgListTabContCheck { position: absolute; top: 11px; right: 0; }
.msgListTabBtns .msgListTabContCheck label { position: relative; display: inline-block; line-height: 26px; border:1px solid #dadada; background-color: #fbfbfb;
 color: #2f3130; padding: 0 10px; border-radius: 3px; margin-left: 5px; }
.msgListTabBtns .msgListTabContCheck label input { opacity: 0.6; position: absolute; left: 0; top: 0;}
.msgListTabBtns .msgListTabContCheck label .fa { display: none; }
.msgListTabBtns .msgListTabContCheck label.on { color: #209eeb; border-color: #209eeb; background-color: #fff; }
.msgListTabBtns .msgListTabContCheck label.on .fa { display: inline;}
/*标签卡内容*/
.msgListTabList .msgListTabCont { display: none; }
.msgListTabList .msgListTabCont.on { display: block; }
.msgListTabList .msgListTabCont .msgDataList .msgDataListInner { padding: 20px 30px; border-bottom: 1px solid #ddd; }
.msgDataListInner .queueInfo { color: #a0a0a0; margin-bottom: 10px; }
.msgDataList .msgDataListInner .msgDataListCont { line-height: 26px; color: #393939; }
/*数据发送队列状态下拉菜单*/
.queueInfo {}
.dataQueueWrapper { float: left; width: 300px; font-size: 12px; }
.dataQueueWrapper .dataQueueCheck { float: left; position: relative; margin-right: 6px;}
.dataQueueWrapper .dataQueueCheck header { padding: 0 5px 0 10px; border:1px solid #e5e5e5; border-radius: 2px; background-color: #f7f9f8; color: #55585d; 
box-shadow: 0 0 4px #ddd; cursor: pointer;}
.dataQueueWrapper .dataQueueCheck header .fa { font-size: 14px; margin-left: 5px;}
.dataQueueWrapper .dataQueueCheck header .fa-angle-up { display: none; }
.dataQueueWrapper .dataQueueCheck ul { display: none; position: absolute; left: 0; right: 0; top: 21px; border:1px solid #e5e5e5; border-radius: 0 0 2px 2px;
 background-color: #f7f9f8; padding: 2px 0 5px; border-top-color: #f7f9f8; box-shadow: 0 2px 4px #ddd;}
 .dataQueueWrapper .dataQueueCheck[data-tg="true"] header .fa-angle-down { display: none; }
 .dataQueueWrapper .dataQueueCheck[data-tg="true"] header .fa-angle-up { display: inline; }
.dataQueueWrapper .dataQueueCheck[data-tg="true"] ul { display: block; }
.dataQueueWrapper .dataQueueCheck ul li { padding: 0 10px; color: #55585d; }
